*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth
}

/* for all form buttons */
.btn-design,.table-design{
    background-color: #086070 !important;
    /* color: #086070; */
    transition: "all 0.3s",

}
.btn-design:hover{
    background-color: #095561 !important;
    transition: "all 0.3s",
}
.btn-design-green{
    background-color: #00796b !important;
    /* color: #086070; */
    transition: "all 0.3s",
}
.btn-design-green:hover{
    background-color: #004d40 !important;
    transition: "all 0.3s",
}